fastapi
uvicorn
motor
python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv
pydantic==2.5.2
pydantic-settings==2.1.0
email-validator
python-multipart
python-docx
PyPDF2
pdfplumber
faiss-cpu
numpy
scikit-learn
ratelimit
google-generativeai
msal
requests
flask
beautifulsoup4
selenium
axe-selenium-python
reportlab
openpyxl
pandas
groq
apscheduler
sentence-transformers